@model AdvanceCRM.Reports.CMSReportModel

    <strong>Productwise CMS </strong>
    &nbsp;&nbsp; - &nbsp;&nbsp; <strong>From:</strong> @Model.Request.DateFrom.ToDateFormat() To: @Model.Request.DateTo.ToDateFormat()
    <hr />
    <table style="width:100%; border:groove" , border="1">
        <tr><th style="text-align:center">Sr. No.</th><th style="text-align:center">Product</th><th style="text-align:center">Quantity</th><th style="text-align:center">Amount</th></tr>

        @{ int cnt = 1;}

        @foreach (var item in Model.Products.Select(x => x.ProductsName).Distinct())
        {
            <tr>
                <td style="text-align:center; width:10%">
                    @cnt
                </td>

                <td style="width:50%">
                    &nbsp;&nbsp;@Html.DisplayFor(x => item)
                </td>

                <td style="width:20%; text-align:center">
                    &nbsp;&nbsp;@Model.Products.Where(y => y.ProductsName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Quantity.Value)
                </td>
                <td style="width:20%; text-align:right">
                    &nbsp;&nbsp;@Model.Products.Where(y => y.ProductsName == Html.DisplayFor(x => item).ToString()).Sum(y => y.LineTotal.Value) &nbsp;&nbsp;
                </td>
            </tr>
            cnt = cnt + 1;
        }
    </table>