
@model MailChimp.Net.Models.Campaign
@{
    ViewBag.Title = $"Detail for campaign ID {Model.Id}";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-
                    hidden="true">
                &times;
            </button>
            <h2 class="modal-title text-center">@Model.Settings.Title</h2>
            <h4 class="text-center">@Model.CreateTime.ToString("s")</h4>
            <h5 class="text-center">@Model.Status</h5>
        </div>
        <div class="modal-body">
            <h4 class="text-center">Trailer</h4>
            <h4 class="text-center">Description</h4>
            <p>@Model.Type</p>
        </div>
    </div>
</div>


