@inject Serenity.ITextLocalizer Localizer
@{
     ViewData["Title"] = Localizer.Get("Db.Sales.SalesFollowups.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AdvanceCRM.Sales.SalesFollowupsReportGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>