@inject Serenity.ITextLocalizer Localizer
@{
     ViewData["Title"] = Localizer.Get("Db.Settings.RazorPay.EntityPlural");
}

@section ContentHeader {
    <h1>@ViewData["Title"]</h1>
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AdvanceCRM.Settings.RazorPayDialog().loadByIdAndOpenDialog(-1, true);
        //Q.initFullHeightGridPage($('#GridDiv'));c
    });
</script>