@inject Serenity.ITextLocalizer Localizer
@{
     ViewData["Title"] = Localizer.Get("Db.Settings.ProductPlan.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AdvanceCRM.Settings.ProductPlanGrid($('#GridDiv')).init();
        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>
