@using System.Net;
@using System.Net.Mail;

@using Serenity;

@{ string emailtovar = "";}

@model AdvanceCRM.Common.LoginProcessPageModel
@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section Head {
    <link rel="stylesheet" href="~/Content/iCheck/flat/blue.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Scripts/morris/morris.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Scripts/datepicker/datepicker3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Scripts/daterangepicker/daterangepicker-bs3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" asp-append-version="true" />
    <script src="~/Scripts/raphael/raphael-min.js" asp-append-version="true"></script>
    <script src="~/Scripts/morris/morris.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/sparkline/jquery.sparkline.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/knob/jquery.knob.js" asp-append-version="true"></script>
    <script src="~/Scripts/daterangepicker/moment.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    @*<script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>*@ @*This was causing another calendar popup than regular one*@
    <script src="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
    <script src="~/Scripts/adminlte/demo.js"></script>


    <script src="~/amcharts/amcharts.js"></script>
    <script src="~/amcharts/gauge.js"></script>
    <script src="~/amcharts/plugins/export/export.min.js"></script>
    <script src="~/amcharts/plugins/responsive/responsive.min.js"></script>
    <link rel="stylesheet" href="~/amcharts/plugins/export/export.css" type="text/css" media="all" />
    <script src="~/amcharts/themes/light.js"></script>
}

@section ContentHeader {
    <h1>My @Localizer.Get("Navigation.Dashboard")<small>@Html.Raw(Texts.Site.Dashboard.ContentDescription)</small></h1>
}

@* <style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>
<div class="row">
    <div class="col-lg-2 col-xs-6">

        <div class="small-box" style="background-color: #28A745; color: white;">
            <div class="inner">
                <h3>@Model.OpenMISLoginProcess</h3>
                <p>LogIn Process</p>
            </div>
            <div class="icon">
                <i class="fa fa-file-text"></i>
            </div>
            <a href="/FINMARTMIS/MisLogInProcess?Open" class="small-box-footer" style="color: white;">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div> *@

<style>
    .small-box {
        background: linear-gradient(135deg, #007bff, #0056d2);
        color: white;
        border-radius: 15px;
        padding: 20px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 6px 15px rgba(0,0,0,0.2);
        transition: 0.3s;
        min-height: 140px;
    }

        .small-box:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(0,0,0,0.3);
        }

        .small-box .inner h3 {
            font-size: 32px;
            font-weight: bold;
            margin: 0;
        }

        .small-box .inner p {
            font-size: 16px;
            opacity: 0.9;
            margin-top: 5px;
        }

        .small-box .icon {
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-size: 60px;
            opacity: 0.2;
        }

    .small-box-footer {
        color: white !important;
        font-weight: 600;
        text-decoration: underline;
        position: absolute;
        bottom: 10px;
        left: 20px;
    }

        .small-box-footer:hover {
            color: #dfefff !important;
        }
</style>
<div class="row">
    <div class="col-lg-2 col-xs-6">

        <div class="small-box">
            <div class="inner">
                <h3>@Model.OpenMISLoginProcess</h3>
                <p>Login Process</p>
            </div>

            <div class="icon">
                <i class="fa fa-envelope"></i>
            </div>

            <a href="/Operations/MisLogInProcess?Open" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>

    </div>
</div>