@inject Serenity.ITextLocalizer Localizer
@{
     ViewData["Title"] = Localizer.Get("Db.Premium.TargetSetting.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AdvanceCRM.Premium.TargetSettingGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>