@inject Serenity.ITextLocalizer Localizer
@{
     ViewData["Title"] = Localizer.Get("Db.Attendance.Attendance.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AdvanceCRM.Attendance.AttendanceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>